adbutils==1.2.9
altgraph==0.17.3
apkutils2==1.0.0
atomicwrites==1.4.0
cached-property==1.5.2
certifi==2023.5.7
charset-normalizer==3.1.0
cigam==0.0.3
colorama==0.4.4
comtypes==1.2.0
ConfigArgParse==1.5.3
decorator==5.1.1
Deprecated==1.2.14
deprecation==2.1.0
docopt==0.6.2
emoji==1.6.1
filelock==3.12.0
idna==3.4
imageio==2.31.0
langdetect==1.0.9
logzero==1.7.0
lxml==4.9.2
numpy==1.24.3
packaging==20.9
pefile==2023.2.7
Pillow==9.5.0
pipreqs==0.4.13
progress==1.6
py==1.11.0
pyelftools==0.29
pyinstaller==5.12.0
pyinstaller-hooks-contrib==2023.3
pyparsing==3.0.9
pypiwin32==223
pyttsx3==2.90
pywin32==306
pywin32-ctypes==0.2.0
PyYAML==6.0
requests==2.28.2
retry==0.9.2
six==1.16.0
spintax==1.0.4
uiautomator2==2.16.23
urllib3==1.26.7
whichcraft==0.6.1
wrapt==1.15.0
xmltodict==0.13.0
yarg==0.1.9
